<!DOCTYPE html>
<html>

<head>

<title>
PizzaBros Cart
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

<h1>
PizzaBrosStore
</h1>


<nav>

<a href="/">Home</a>

<a href="/products">Menu</a>

<a href="/cart">Cart</a>

</nav>

</header>



<section class="cart-section">


<h2>
Your Order
</h2>



{% if cart %}



{% for item in cart %}



<div class="cart-item">


<div>


<h3>
{{ item.name }}
</h3>



<p>
Price: ${{ item.price }}
</p>


<p>
Quantity: {{ item.quantity }}
</p>


<p>
Subtotal:
${{ item.price * item.quantity }}
</p>



<a href="/remove/{{ loop.index0 }}">

<button class="remove-btn">
Remove
</button>

</a>



</div>


</div>



{% endfor %}





<div class="cart-total">


<h2>
Total: ${{ total }}
</h2>



<a href="/checkout">

<button>
Checkout
</button>

</a>




<a href="/cancel">

<button class="remove-btn">

Cancel Order

</button>

</a>


</div>




{% else %}


<h2>
Your cart is empty
</h2>


<a href="/products">

<button>
Order Pizza
</button>

</a>


{% endif %}



</section>


</body>

</html>