<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PizzaBros Cart</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

<h1>
PizzaBrosStore
</h1>

<nav>

<a href="/">
Home
</a>

<a href="/products">
Menu
</a>

<a href="/cart">
Cart
</a>

</nav>

</header>



<section class="cart-page">


<h2 class="section-title">
Your Order
</h2>



{% if cart %}


<div class="cart-table">


<div class="cart-header">

<span>Pizza</span>
<span>Price</span>
<span>Quantity</span>
<span>Subtotal</span>
<span>Action</span>

</div>



{% for item in cart %}


<div class="cart-row">


<div class="pizza-info">


<img
src="{{ url_for('static', filename='images/' + item.image) }}"
alt="{{ item.name }}"
>


<div>

<h3>
{{ item.name }}
</h3>

<p>
{{ item.category }}
</p>

</div>

</div>



<div>

${{ "%.2f"|format(item.price) }}

</div>



<div class="quantity-controls">


<a href="/update/{{ item.id }}/decrease">

<button class="quantity-btn">
−
</button>

</a>


<span>
{{ item.quantity }}
</span>


<a href="/update/{{ item.id }}/increase">

<button class="quantity-btn">
+
</button>

</a>


</div>



<div>

${{ "%.2f"|format(item.price * item.quantity) }}

</div>



<div>

<a href="/remove/{{ loop.index0 }}">

<button class="remove-btn">
Remove
</button>

</a>

</div>


</div>


{% endfor %}


</div>



<div class="cart-bottom">


<div class="cart-total-new">

<p>
Total:
</p>

<h2>
${{ "%.2f"|format(total) }}
</h2>

</div>


<div class="cart-actions">


<a href="/products">

<button class="continue-btn">
← Continue Shopping
</button>

</a>


<a href="/checkout">

<button class="checkout-btn">
Checkout
</button>

</a>


</div>


</div>



{% else %}


<div class="empty-cart">

<h2>
Your cart is empty
</h2>

<a href="/products">

<button>
Order Pizza
</button>

</a>

</div>


{% endif %}


</section>


</body>

</html>