<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>PizzaBrosStore Checkout</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">


</head>


<body>



<header>


<h1>
PizzaBrosStore
</h1>


<nav>

<a href="/">
Home
</a>


<a href="/products">
Menu
</a>


<a href="/cart">
Cart
</a>


</nav>


</header>






<section class="checkout">



<h2>
Customer Details
</h2>




<form method="POST">



<label>
Full Name
</label>



<input 
type="text"
name="name"
required>





<label>
Email
</label>



<input
type="email"
name="email"
required>






<button type="submit">

Place Order

</button>





</form>




</section>




</body>

</html>