<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PizzaBrosStore</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<header>

<h1>
PizzaBrosStore
</h1>

<nav>

<a href="/">
Home
</a>

<a href="/products">
Menu
</a>

<a href="/cart">
Cart
</a>

</nav>

</header>


<img src="{{ url_for('static', filename='images/asd.avif' ) }}">
<img src="{{ url_for('static', filename='images/pepperoni.png' ) }}">
<img src="{{ url_for('static', filename='images/hawaiian.png' ) }}">
<img src="{{ url_for('static', filename='images/meatlovers.png' ) }}">
<img src="{{ url_for('static', filename='images/cheese.png' ) }}">


<!-- =========================
     HERO
========================= -->

<section class="hero">


<h2>
Fresh Pizza Made Better
</h2>


<p>
Delicious pizzas made with fresh ingredients.
</p>


<a href="/products">

<button>
Order Now
</button>

</a>


</section>
