<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PizzaBrosStore</title>

<link rel="stylesheet" 
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

<h1>
PizzaBrosStore
</h1>


<nav>

<a href="/">
Home
</a>

<a href="/products">
Menu
</a>

<a href="/cart">
Cart
</a>


</nav>

</header>




<section class="hero">


<h2>
Fresh Pizza Made Better
</h2>


<p>
Delicious pizzas made with fresh ingredients.
</p>



<a href="/products">

<button>
Order Now
</button>

</a>


</section>




<section>


<h2 class="section-title">

Featured Pizzas

</h2>



<div class="product-container">



{% for product in products %}



<div class="product-card">


<h3>

{{ product.name }}

</h3>



<p>

{{ product.category }}

</p>



<p>

{{ product.description }}

</p>



<h2>

${{ product.price }}

</h2>




<a href="/add/{{ product.id }}">

<button>

Add To Cart

</button>

</a>



</div>



{% endfor %}



</div>



</section>



<footer>


<p>

PizzaBrosStore © 2026

</p>


</footer>



<script src="{{ url_for('static',
filename='script.js') }}">

</script>



</body>

</html>