<!DOCTYPE html>
<html lang="en">


<head>


<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>Pizza Invoice</title>




<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">



</head>




<body>




<header>


<h1>

PizzaBrosStore

</h1>


</header>






<section class="checkout">





<h2>

Pizza Order Invoice

</h2>




<p>

<strong>Customer Name:</strong> {{ name }}

</p>


<p>

<strong>Email:</strong> {{ email }}

</p>




<hr>




<h3>

Items Ordered

</h3>





{% for item in cart %}





<div class="cart-item">





<div>




<h3>

{{ item.name }}

</h3>




<p>

{{ item.category }}

</p>