<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Pizza Menu</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>
<img src="{{ url_for('static', filename='images/cheese.png' ) }}">
<img src="{{ url_for('static', filename='images/pepperoni.png' ) }}">
<img src="{{ url_for('static', filename='images/hawaiian.png' ) }}">
<img src="{{ url_for('static', filename='images/meatlovers.png' ) }}">
<img src="{{ url_for('static', filename='images/margheriPizza.png' ) }}">
<img src="{{ url_for('static', filename='images/SupremePizza.png' ) }}">
<img src="{{ url_for('static', filename='images/BBQChickenPizza.png' ) }}">
<img src="{{ url_for('static', filename='images/VeggieSupremePizza.png' ) }}">



<body>


<header>

<h1>
PizzaBrosStore
</h1>


<nav>

<a href="/">
Home
</a>


<a href="/products">
Menu
</a>


<a href="/cart">
Cart
</a>


</nav>

</header>




<section>



<h2 class="section-title">

Our Pizza Menu

</h2>




<div class="product-container">



{% for product in products %}



<div class="product-card">



<h3>

{{ product.name }}

</h3>



<p>

Category: {{ product.category }}

</p>


<p>
Price: ${{ product.price }}
</p>

<p>
Stock Available: {{ product.stock }}
</p>


<button onclick="showDetails('{{ product.id }}')">

View Details

</button>




{% if product.stock > 0 %}

<a href="/add/{{ product.id }}">

<button>
Add To Cart
</button>

</a>

{% else %}

<button disabled>
Out Of Stock
</button>

{% endif %}




<div id="details-{{ product.id }}" class="product-details">



<p>

{{ product.description }}

</p>



<button onclick="hideDetails('{{ product.id }}')">

Close

</button>


</div>




</div>




{% endfor %}




</div>



</section>






<script>


function showDetails(id) {


document.getElementById("details-" + id)
.style.display = "block";


}



function hideDetails(id) {


document.getElementById("details-" + id)
.style.display = "none";


}


</script>




</body>

</html>