<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Pizza Menu</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

<h1>
PizzaBrosStore
</h1>


<nav>

<a href="/">
Home
</a>


<a href="/products">
Menu
</a>


<a href="/cart">
Cart
</a>


</nav>

</header>




<section>



<h2 class="section-title">

Our Pizza Menu

</h2>




<div class="product-container">



{% for product in products %}



<div class="product-card">



<h3>

{{ product.name }}

</h3>



<p>

Category: {{ product.category }}

</p>


<p>
Price: ${{ product.price }}
</p>

<p>
Stock Available: {{ product.stock }}
</p>


<button onclick="showDetails('{{ product.id }}')">

View Details

</button>